<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_38409ee40c422816cf9d7b0f53171313 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
            <div class="folium-map" id="map_38409ee40c422816cf9d7b0f53171313" ></div>
        
</body>
<script>
    
    
            var map_38409ee40c422816cf9d7b0f53171313 = L.map(
                "map_38409ee40c422816cf9d7b0f53171313",
                {
                    center: [22.5876298, 88.2983817],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_adfb79afb9526daf28ff546c9d3577aa = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_adfb79afb9526daf28ff546c9d3577aa.addTo(map_38409ee40c422816cf9d7b0f53171313);
        
    
            var tile_layer_1ab916f8ccd8fa36b8e2c3ce2bc63b3c = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_3dc7dcdbdd2e4f128349af96c56b9328 = new L.Control.MiniMap(
                tile_layer_1ab916f8ccd8fa36b8e2c3ce2bc63b3c,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": false, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_38409ee40c422816cf9d7b0f53171313.addControl(mini_map_3dc7dcdbdd2e4f128349af96c56b9328);
        
    
            var tile_layer_e6cd38bb41fa6027eee0fadbe836ebb5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Map data \u00a9 OpenStreetMap contributors", "detectRetina": false, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_e6cd38bb41fa6027eee0fadbe836ebb5.addTo(map_38409ee40c422816cf9d7b0f53171313);
        
    
            var marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a = L.markerClusterGroup(
                {}
            );
        
    
            var marker_6894acbcffe92f1952705ca806b19f39 = L.marker(
                [22.58174, 88.3232278],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_a9d479b617d38aa1c91ae8b67ed96450 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_6894acbcffe92f1952705ca806b19f39.setIcon(icon_a9d479b617d38aa1c91ae8b67ed96450);
        
    
        var popup_162febb277ec52ad5c96da37d0a619ca = L.popup({"maxWidth": 300});

        
            
                var html_8e255431b05b69ff7fbf2a6a0138772c = $(`<div id="html_8e255431b05b69ff7fbf2a6a0138772c" style="width: 100.0%; height: 100.0%;">People Meditreat Pvt Ltd</div>`)[0];
                popup_162febb277ec52ad5c96da37d0a619ca.setContent(html_8e255431b05b69ff7fbf2a6a0138772c);
            
        

        marker_6894acbcffe92f1952705ca806b19f39.bindPopup(popup_162febb277ec52ad5c96da37d0a619ca)
        ;

        
    
    
            var marker_f8fda518b35ec25151b6e0e8e6dcc14b = L.marker(
                [22.5782195, 88.3304657],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_0d741fbcb32f55fd080ba4740af2e4ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_f8fda518b35ec25151b6e0e8e6dcc14b.setIcon(icon_0d741fbcb32f55fd080ba4740af2e4ce);
        
    
        var popup_8b80bebab6233c78c7b1ef3d357b1602 = L.popup({"maxWidth": 300});

        
            
                var html_67be6b84fdcd07c280269b48b1470772 = $(`<div id="html_67be6b84fdcd07c280269b48b1470772" style="width: 100.0%; height: 100.0%;">Belur Sramajibi Swasthya Prakalpa Samity</div>`)[0];
                popup_8b80bebab6233c78c7b1ef3d357b1602.setContent(html_67be6b84fdcd07c280269b48b1470772);
            
        

        marker_f8fda518b35ec25151b6e0e8e6dcc14b.bindPopup(popup_8b80bebab6233c78c7b1ef3d357b1602)
        ;

        
    
    
            var marker_6fe86b08fc9eab24f32df89b41503cef = L.marker(
                [22.5816657, 88.3197241],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_e68f1b8c8e306278cc13977fc87f3707 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_6fe86b08fc9eab24f32df89b41503cef.setIcon(icon_e68f1b8c8e306278cc13977fc87f3707);
        
    
        var popup_d7adb058717cfc681c8fba09059dcf76 = L.popup({"maxWidth": 300});

        
            
                var html_f233602b342f09376d867b8f3b41522a = $(`<div id="html_f233602b342f09376d867b8f3b41522a" style="width: 100.0%; height: 100.0%;">Dristi Eye Foundation</div>`)[0];
                popup_d7adb058717cfc681c8fba09059dcf76.setContent(html_f233602b342f09376d867b8f3b41522a);
            
        

        marker_6fe86b08fc9eab24f32df89b41503cef.bindPopup(popup_d7adb058717cfc681c8fba09059dcf76)
        ;

        
    
    
            var marker_60e2fca279e8324e5ab379ea35f2d8a1 = L.marker(
                [22.5812075, 88.3337856],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_46fff42b5ad22ef7f1b7e9f334c70c0e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_60e2fca279e8324e5ab379ea35f2d8a1.setIcon(icon_46fff42b5ad22ef7f1b7e9f334c70c0e);
        
    
        var popup_cced97f3f17974d4774cb72f10944808 = L.popup({"maxWidth": 300});

        
            
                var html_23efc6288a5664b58d05837d1ebe1273 = $(`<div id="html_23efc6288a5664b58d05837d1ebe1273" style="width: 100.0%; height: 100.0%;">Howrah Lions Hospital</div>`)[0];
                popup_cced97f3f17974d4774cb72f10944808.setContent(html_23efc6288a5664b58d05837d1ebe1273);
            
        

        marker_60e2fca279e8324e5ab379ea35f2d8a1.bindPopup(popup_cced97f3f17974d4774cb72f10944808)
        ;

        
    
    
            var marker_a7835870c2747a931c5d84d1687ce9be = L.marker(
                [22.562627, 88.3187538],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_16ee197e1e108d26ae109590f89bb35a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_a7835870c2747a931c5d84d1687ce9be.setIcon(icon_16ee197e1e108d26ae109590f89bb35a);
        
    
        var popup_5ac560dabdc892c4b12e9ef12449aaf6 = L.popup({"maxWidth": 300});

        
            
                var html_f13c1046ddc7761928caba47ae10af6c = $(`<div id="html_f13c1046ddc7761928caba47ae10af6c" style="width: 100.0%; height: 100.0%;">SMI Pvt Ltd</div>`)[0];
                popup_5ac560dabdc892c4b12e9ef12449aaf6.setContent(html_f13c1046ddc7761928caba47ae10af6c);
            
        

        marker_a7835870c2747a931c5d84d1687ce9be.bindPopup(popup_5ac560dabdc892c4b12e9ef12449aaf6)
        ;

        
    
    
            var marker_1e61c6ac1d5c212a91061067466d2009 = L.marker(
                [22.5697343, 88.3257383],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_b24679e5a97d0dd2ba5de3bf3ee529b0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_1e61c6ac1d5c212a91061067466d2009.setIcon(icon_b24679e5a97d0dd2ba5de3bf3ee529b0);
        
    
        var popup_63e5d34df0fb424b34af93aecca462a0 = L.popup({"maxWidth": 300});

        
            
                var html_44864597698fa611633b22bdcb1633bb = $(`<div id="html_44864597698fa611633b22bdcb1633bb" style="width: 100.0%; height: 100.0%;">Smt. Sarla Pahwa Memorial Eye Centre</div>`)[0];
                popup_63e5d34df0fb424b34af93aecca462a0.setContent(html_44864597698fa611633b22bdcb1633bb);
            
        

        marker_1e61c6ac1d5c212a91061067466d2009.bindPopup(popup_63e5d34df0fb424b34af93aecca462a0)
        ;

        
    
    
            var marker_85068a117f69a40f87805ca11161e03b = L.marker(
                [22.5925889, 88.3421754],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_d28e295d5a4cc20f0d0c051b98401528 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_85068a117f69a40f87805ca11161e03b.setIcon(icon_d28e295d5a4cc20f0d0c051b98401528);
        
    
        var popup_aeca644a851481646d9e20c726b4af84 = L.popup({"maxWidth": 300});

        
            
                var html_0cdd08e6962fdb46f754cb58ffa06dce = $(`<div id="html_0cdd08e6962fdb46f754cb58ffa06dce" style="width: 100.0%; height: 100.0%;">Alpha Medical Services Pvt. Ltd.</div>`)[0];
                popup_aeca644a851481646d9e20c726b4af84.setContent(html_0cdd08e6962fdb46f754cb58ffa06dce);
            
        

        marker_85068a117f69a40f87805ca11161e03b.bindPopup(popup_aeca644a851481646d9e20c726b4af84)
        ;

        
    
    
            var marker_aa910744d172982f3f400bcdfcfa4384 = L.marker(
                [22.596013, 88.341794],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_b5f8e46a1870c30d2dca86b6597f4ccc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_aa910744d172982f3f400bcdfcfa4384.setIcon(icon_b5f8e46a1870c30d2dca86b6597f4ccc);
        
    
        var popup_75d710224100189944c29e4365349b8e = L.popup({"maxWidth": 300});

        
            
                var html_1871ef1ab066df226039c8b1998986f8 = $(`<div id="html_1871ef1ab066df226039c8b1998986f8" style="width: 100.0%; height: 100.0%;">Shiny Swadha Eye Care</div>`)[0];
                popup_75d710224100189944c29e4365349b8e.setContent(html_1871ef1ab066df226039c8b1998986f8);
            
        

        marker_aa910744d172982f3f400bcdfcfa4384.bindPopup(popup_75d710224100189944c29e4365349b8e)
        ;

        
    
    
            var marker_f4fb8ba1644a490159b268b7e3d6f6c5 = L.marker(
                [22.5714259, 88.3297522],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_9fbff7a7de7c955f4364e23c5ac9ab22 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_f4fb8ba1644a490159b268b7e3d6f6c5.setIcon(icon_9fbff7a7de7c955f4364e23c5ac9ab22);
        
    
        var popup_53ce1423b88beb355945a6b624b169dc = L.popup({"maxWidth": 300});

        
            
                var html_05e69f25faee8525003837cd7b7811bb = $(`<div id="html_05e69f25faee8525003837cd7b7811bb" style="width: 100.0%; height: 100.0%;">Shree Jain Hospital And Research Centre</div>`)[0];
                popup_53ce1423b88beb355945a6b624b169dc.setContent(html_05e69f25faee8525003837cd7b7811bb);
            
        

        marker_f4fb8ba1644a490159b268b7e3d6f6c5.bindPopup(popup_53ce1423b88beb355945a6b624b169dc)
        ;

        
    
    
            var marker_e8c15d63ebde0886b73071ae9db2d210 = L.marker(
                [22.5738494, 88.328214],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_7cf8b22445dd39b5e1f9abf0d2fb3ba0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_e8c15d63ebde0886b73071ae9db2d210.setIcon(icon_7cf8b22445dd39b5e1f9abf0d2fb3ba0);
        
    
        var popup_c0c41b98a5859fd93fe15657e9ddeb8f = L.popup({"maxWidth": 300});

        
            
                var html_4b567b9c29f5d34558b353c70ca1993d = $(`<div id="html_4b567b9c29f5d34558b353c70ca1993d" style="width: 100.0%; height: 100.0%;">D.B. Eye Foundation</div>`)[0];
                popup_c0c41b98a5859fd93fe15657e9ddeb8f.setContent(html_4b567b9c29f5d34558b353c70ca1993d);
            
        

        marker_e8c15d63ebde0886b73071ae9db2d210.bindPopup(popup_c0c41b98a5859fd93fe15657e9ddeb8f)
        ;

        
    
    
            var marker_e313df9b2c30133b8233e3d32fd3158e = L.marker(
                [22.5768741, 88.301756],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_18bdc8eecbb97b25810eb4f272658917 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_e313df9b2c30133b8233e3d32fd3158e.setIcon(icon_18bdc8eecbb97b25810eb4f272658917);
        
    
        var popup_e49ce4d3c890fff2d489a42dae8c6084 = L.popup({"maxWidth": 300});

        
            
                var html_2e9db5203f3ad38656236e957ecd5392 = $(`<div id="html_2e9db5203f3ad38656236e957ecd5392" style="width: 100.0%; height: 100.0%;">Chokher Aloy</div>`)[0];
                popup_e49ce4d3c890fff2d489a42dae8c6084.setContent(html_2e9db5203f3ad38656236e957ecd5392);
            
        

        marker_e313df9b2c30133b8233e3d32fd3158e.bindPopup(popup_e49ce4d3c890fff2d489a42dae8c6084)
        ;

        
    
    
            var marker_cb811fb81bfc9e0ed8ccacc2e1ad9476 = L.marker(
                [22.578847, 88.2555755],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_d3cd281b4a6a434908d0b28b45c48570 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_cb811fb81bfc9e0ed8ccacc2e1ad9476.setIcon(icon_d3cd281b4a6a434908d0b28b45c48570);
        
    
        var popup_34e51011b443f3c4a6152f0c43aa498d = L.popup({"maxWidth": 300});

        
            
                var html_f64484a8822656c0ad648b9d40ffec97 = $(`<div id="html_f64484a8822656c0ad648b9d40ffec97" style="width: 100.0%; height: 100.0%;">Disha Eye Care</div>`)[0];
                popup_34e51011b443f3c4a6152f0c43aa498d.setContent(html_f64484a8822656c0ad648b9d40ffec97);
            
        

        marker_cb811fb81bfc9e0ed8ccacc2e1ad9476.bindPopup(popup_34e51011b443f3c4a6152f0c43aa498d)
        ;

        
    
    
            var marker_c79c2d97a2d3e67a40dace4d8fb0033d = L.marker(
                [22.5673073, 88.2704237],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_a5b64fec1288d1caccfe1ff982dfb75e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_c79c2d97a2d3e67a40dace4d8fb0033d.setIcon(icon_a5b64fec1288d1caccfe1ff982dfb75e);
        
    
        var popup_a5cc8970eb20c4047c49e661a03661ab = L.popup({"maxWidth": 300});

        
            
                var html_fbb8b42fa5450d6b5aca4cdf1e9e0e2e = $(`<div id="html_fbb8b42fa5450d6b5aca4cdf1e9e0e2e" style="width: 100.0%; height: 100.0%;">N H Narayana Multispeciality Hospital</div>`)[0];
                popup_a5cc8970eb20c4047c49e661a03661ab.setContent(html_fbb8b42fa5450d6b5aca4cdf1e9e0e2e);
            
        

        marker_c79c2d97a2d3e67a40dace4d8fb0033d.bindPopup(popup_a5cc8970eb20c4047c49e661a03661ab)
        ;

        
    
    
            var marker_81731d6c6ad1ebbc0f7a77198e3f8da7 = L.marker(
                [22.5919035, 88.3418547],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_9937ff3d5d15f73df8ded7a544834b67 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_81731d6c6ad1ebbc0f7a77198e3f8da7.setIcon(icon_9937ff3d5d15f73df8ded7a544834b67);
        
    
        var popup_e2888e79089412864ebfd8fccf1b377e = L.popup({"maxWidth": 300});

        
            
                var html_d1a2160374df22902d45f45e4f77e383 = $(`<div id="html_d1a2160374df22902d45f45e4f77e383" style="width: 100.0%; height: 100.0%;">Anjali Eye Center</div>`)[0];
                popup_e2888e79089412864ebfd8fccf1b377e.setContent(html_d1a2160374df22902d45f45e4f77e383);
            
        

        marker_81731d6c6ad1ebbc0f7a77198e3f8da7.bindPopup(popup_e2888e79089412864ebfd8fccf1b377e)
        ;

        
    
    
            var marker_e84cf258af72f4acc50bbb9f88e13f65 = L.marker(
                [22.5641763, 88.321133],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_d223ecc5797f8f0d3df7084a7d606175 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_e84cf258af72f4acc50bbb9f88e13f65.setIcon(icon_d223ecc5797f8f0d3df7084a7d606175);
        
    
        var popup_0beca55bceb8c52649331ae5cc35a041 = L.popup({"maxWidth": 300});

        
            
                var html_74dd9c413f6790095e60b0c5f418f6e6 = $(`<div id="html_74dd9c413f6790095e60b0c5f418f6e6" style="width: 100.0%; height: 100.0%;">Mandelia Maternity and Nursing Home</div>`)[0];
                popup_0beca55bceb8c52649331ae5cc35a041.setContent(html_74dd9c413f6790095e60b0c5f418f6e6);
            
        

        marker_e84cf258af72f4acc50bbb9f88e13f65.bindPopup(popup_0beca55bceb8c52649331ae5cc35a041)
        ;

        
    
    
            var marker_0c16f147e47f511370f0181c018ac2d1 = L.marker(
                [22.5858477, 88.3035014],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_ff9915aa62ad5e33d2da542f04c44883 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_0c16f147e47f511370f0181c018ac2d1.setIcon(icon_ff9915aa62ad5e33d2da542f04c44883);
        
    
        var popup_92b1a811d0eaf79c8bd2ec38796a7fee = L.popup({"maxWidth": 300});

        
            
                var html_7c9a4e6e1a62999173c03a7964b485a0 = $(`<div id="html_7c9a4e6e1a62999173c03a7964b485a0" style="width: 100.0%; height: 100.0%;">S.C. Bagchi Arogya Sadan Pvt.Ltd.</div>`)[0];
                popup_92b1a811d0eaf79c8bd2ec38796a7fee.setContent(html_7c9a4e6e1a62999173c03a7964b485a0);
            
        

        marker_0c16f147e47f511370f0181c018ac2d1.bindPopup(popup_92b1a811d0eaf79c8bd2ec38796a7fee)
        ;

        
    
    
            var marker_71bea5464ff45019de03c79fc76a5081 = L.marker(
                [22.5932877, 88.3390568],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_606bbddbd1f7a4f0ab6b686a11317dd3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_71bea5464ff45019de03c79fc76a5081.setIcon(icon_606bbddbd1f7a4f0ab6b686a11317dd3);
        
    
        var popup_142cf1143259b4c95b6e648b92c995bf = L.popup({"maxWidth": 300});

        
            
                var html_e638e9c6ecfdb7b91dfbc5eccc68f925 = $(`<div id="html_e638e9c6ecfdb7b91dfbc5eccc68f925" style="width: 100.0%; height: 100.0%;">Kumar Maternity Home</div>`)[0];
                popup_142cf1143259b4c95b6e648b92c995bf.setContent(html_e638e9c6ecfdb7b91dfbc5eccc68f925);
            
        

        marker_71bea5464ff45019de03c79fc76a5081.bindPopup(popup_142cf1143259b4c95b6e648b92c995bf)
        ;

        
    
    
            var marker_171140d4cd930214952dc92e233dcda6 = L.marker(
                [22.5981589, 88.2740081],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_f47d60895d9bfea95e083ce0b7e1f2ab = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_171140d4cd930214952dc92e233dcda6.setIcon(icon_f47d60895d9bfea95e083ce0b7e1f2ab);
        
    
        var popup_a05af23e28e69c77f961b900ad9f9c7f = L.popup({"maxWidth": 300});

        
            
                var html_928ccbef81ddedaa3af6ce0d50c81533 = $(`<div id="html_928ccbef81ddedaa3af6ce0d50c81533" style="width: 100.0%; height: 100.0%;">Bankra Hospital</div>`)[0];
                popup_a05af23e28e69c77f961b900ad9f9c7f.setContent(html_928ccbef81ddedaa3af6ce0d50c81533);
            
        

        marker_171140d4cd930214952dc92e233dcda6.bindPopup(popup_a05af23e28e69c77f961b900ad9f9c7f)
        ;

        
    
    
            var marker_a308cd922068c628fa1d44cf4112014e = L.marker(
                [22.6193143, 88.300364],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_1de826f3012fe4d8e0cecee9dd2527f7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_a308cd922068c628fa1d44cf4112014e.setIcon(icon_1de826f3012fe4d8e0cecee9dd2527f7);
        
    
        var popup_0e02b2a2698ccffd577798aa74cfd3c5 = L.popup({"maxWidth": 300});

        
            
                var html_a83079c6719cfabd9616e65425f83dd4 = $(`<div id="html_a83079c6719cfabd9616e65425f83dd4" style="width: 100.0%; height: 100.0%;">Kona Jagadishpur Rural Hospital</div>`)[0];
                popup_0e02b2a2698ccffd577798aa74cfd3c5.setContent(html_a83079c6719cfabd9616e65425f83dd4);
            
        

        marker_a308cd922068c628fa1d44cf4112014e.bindPopup(popup_0e02b2a2698ccffd577798aa74cfd3c5)
        ;

        
    
    
            var marker_890eeb6eb9f77f86790999ebdcf609f4 = L.marker(
                [22.5602924, 88.3039377],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_02b1b3d8a73f45e36dc5b34003d8996a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_890eeb6eb9f77f86790999ebdcf609f4.setIcon(icon_02b1b3d8a73f45e36dc5b34003d8996a);
        
    
        var popup_8cb2a937f68c7b99fb6fbe2c1023f6b8 = L.popup({"maxWidth": 300});

        
            
                var html_3d5f555f9e2a72a50eaa03814b77248e = $(`<div id="html_3d5f555f9e2a72a50eaa03814b77248e" style="width: 100.0%; height: 100.0%;">South Howrah State General Hospital</div>`)[0];
                popup_8cb2a937f68c7b99fb6fbe2c1023f6b8.setContent(html_3d5f555f9e2a72a50eaa03814b77248e);
            
        

        marker_890eeb6eb9f77f86790999ebdcf609f4.bindPopup(popup_8cb2a937f68c7b99fb6fbe2c1023f6b8)
        ;

        
    
    
            var marker_efd467ed2cc8dbc8173d4d0732ba7b69 = L.marker(
                [22.5672546, 88.2718829],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_dea83be8b259828701075c23b0a80792 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_efd467ed2cc8dbc8173d4d0732ba7b69.setIcon(icon_dea83be8b259828701075c23b0a80792);
        
    
        var popup_b741aeebca6a7da7c5b25a0ad93f9efd = L.popup({"maxWidth": 300});

        
            
                var html_fba3fb402adea3c4c6eb0dd881e88b8c = $(`<div id="html_fba3fb402adea3c4c6eb0dd881e88b8c" style="width: 100.0%; height: 100.0%;">Indus Nursing Home</div>`)[0];
                popup_b741aeebca6a7da7c5b25a0ad93f9efd.setContent(html_fba3fb402adea3c4c6eb0dd881e88b8c);
            
        

        marker_efd467ed2cc8dbc8173d4d0732ba7b69.bindPopup(popup_b741aeebca6a7da7c5b25a0ad93f9efd)
        ;

        
    
    
            var marker_dad4a1d9a04542b34827dd59cc776fdb = L.marker(
                [22.5671332, 88.2730325],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_4d0f846af92f7a9eb30d0d270596baa9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_dad4a1d9a04542b34827dd59cc776fdb.setIcon(icon_4d0f846af92f7a9eb30d0d270596baa9);
        
    
        var popup_314dfd03cccc7d4d97c3ad1c23e3b02d = L.popup({"maxWidth": 300});

        
            
                var html_957f2d93ffdbbdc1f7f2e622d33fd4d8 = $(`<div id="html_957f2d93ffdbbdc1f7f2e622d33fd4d8" style="width: 100.0%; height: 100.0%;">Smile Dental Care</div>`)[0];
                popup_314dfd03cccc7d4d97c3ad1c23e3b02d.setContent(html_957f2d93ffdbbdc1f7f2e622d33fd4d8);
            
        

        marker_dad4a1d9a04542b34827dd59cc776fdb.bindPopup(popup_314dfd03cccc7d4d97c3ad1c23e3b02d)
        ;

        
    
    
            var marker_8d5930022e44927cb789daad0d12af41 = L.marker(
                [22.5802749, 88.3360797],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_c662c69e0c42d62bc57cbdffba134ba6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_8d5930022e44927cb789daad0d12af41.setIcon(icon_c662c69e0c42d62bc57cbdffba134ba6);
        
    
        var popup_774825c1d790f0b5a7c338e8b9492ff7 = L.popup({"maxWidth": 300});

        
            
                var html_718798d663e48f2cc7ad56912cc06559 = $(`<div id="html_718798d663e48f2cc7ad56912cc06559" style="width: 100.0%; height: 100.0%;">Haora District Hospital</div>`)[0];
                popup_774825c1d790f0b5a7c338e8b9492ff7.setContent(html_718798d663e48f2cc7ad56912cc06559);
            
        

        marker_8d5930022e44927cb789daad0d12af41.bindPopup(popup_774825c1d790f0b5a7c338e8b9492ff7)
        ;

        
    
    
            var marker_bb46d9028e472ab7451d9794fe13ebf0 = L.marker(
                [22.5461073, 88.3102516],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_69d67496f0a2959310e00e93741ba3e8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_bb46d9028e472ab7451d9794fe13ebf0.setIcon(icon_69d67496f0a2959310e00e93741ba3e8);
        
    
        var popup_1934bc57473b750699b0e53c55c6a602 = L.popup({"maxWidth": 300});

        
            
                var html_d54d067711942e4d46b4c428bac19737 = $(`<div id="html_d54d067711942e4d46b4c428bac19737" style="width: 100.0%; height: 100.0%;">BNR Hospital</div>`)[0];
                popup_1934bc57473b750699b0e53c55c6a602.setContent(html_d54d067711942e4d46b4c428bac19737);
            
        

        marker_bb46d9028e472ab7451d9794fe13ebf0.bindPopup(popup_1934bc57473b750699b0e53c55c6a602)
        ;

        
    
    
            var marker_103d31504481e5431d3f027ef7006ae8 = L.marker(
                [22.5864211, 88.3094761],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_4f8082ad4d10b8f31524ca29908d5fba = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_103d31504481e5431d3f027ef7006ae8.setIcon(icon_4f8082ad4d10b8f31524ca29908d5fba);
        
    
        var popup_727b7b6432b3960dc14ff48db8e174d9 = L.popup({"maxWidth": 300});

        
            
                var html_2121b680c8ec50671d7b5f4cc9bb8170 = $(`<div id="html_2121b680c8ec50671d7b5f4cc9bb8170" style="width: 100.0%; height: 100.0%;">M B Homoepathy Medical College and Hospital</div>`)[0];
                popup_727b7b6432b3960dc14ff48db8e174d9.setContent(html_2121b680c8ec50671d7b5f4cc9bb8170);
            
        

        marker_103d31504481e5431d3f027ef7006ae8.bindPopup(popup_727b7b6432b3960dc14ff48db8e174d9)
        ;

        
    
    
            var marker_9ae03059f5fb57753df6ae258c5188bc = L.marker(
                [22.5625639, 88.3078967],
                {}
            ).addTo(marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a);
        
    
            var icon_d84ae12dde390c57e291ea9db946db53 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "house-medical", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_9ae03059f5fb57753df6ae258c5188bc.setIcon(icon_d84ae12dde390c57e291ea9db946db53);
        
    
        var popup_f4734f18751a75480471a22ddd65d435 = L.popup({"maxWidth": 300});

        
            
                var html_176f6aabf67106f3a10d69bb696d8aca = $(`<div id="html_176f6aabf67106f3a10d69bb696d8aca" style="width: 100.0%; height: 100.0%;">West Bank Hospital & NH Narayana Heart Research Institute</div>`)[0];
                popup_f4734f18751a75480471a22ddd65d435.setContent(html_176f6aabf67106f3a10d69bb696d8aca);
            
        

        marker_9ae03059f5fb57753df6ae258c5188bc.bindPopup(popup_f4734f18751a75480471a22ddd65d435)
        ;

        
    
    
            marker_cluster_4edddc5c0a9e68615a6c1dd7cd57522a.addTo(map_38409ee40c422816cf9d7b0f53171313);
        
    
            var heat_map_2a4377872caeedde9fbaa174dec62b4d = L.heatLayer(
                [[22.58174, 88.3232278], [22.5782195, 88.3304657], [22.5816657, 88.3197241], [22.5812075, 88.3337856], [22.562627, 88.3187538], [22.5697343, 88.3257383], [22.5925889, 88.3421754], [22.596013, 88.341794], [22.5714259, 88.3297522], [22.5738494, 88.328214], [22.5768741, 88.301756], [22.578847, 88.2555755], [22.5673073, 88.2704237], [22.5919035, 88.3418547], [22.5641763, 88.321133], [22.5858477, 88.3035014], [22.5932877, 88.3390568], [22.5981589, 88.2740081], [22.6193143, 88.300364], [22.5602924, 88.3039377], [22.5672546, 88.2718829], [22.5671332, 88.2730325], [22.5802749, 88.3360797], [22.5461073, 88.3102516], [22.5864211, 88.3094761], [22.5625639, 88.3078967]],
                {"blur": 15, "maxZoom": 18, "minOpacity": 0.5, "radius": 25}
            );
        
    
            heat_map_2a4377872caeedde9fbaa174dec62b4d.addTo(map_38409ee40c422816cf9d7b0f53171313);
        
    
            var marker_6eea8d0aa0908a366603898d85e478e7 = L.marker(
                [22.5876298, 88.2983817],
                {}
            ).addTo(map_38409ee40c422816cf9d7b0f53171313);
        
    
            var icon_1f12dfdf86bf6787f847950f38d1f8e4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6eea8d0aa0908a366603898d85e478e7.setIcon(icon_1f12dfdf86bf6787f847950f38d1f8e4);
        
    
        var popup_099ab22b5ab7a5351f2963af08946037 = L.popup({"maxWidth": 200});

        
            
                var html_9661691c1cb3e58d8999759b088bb94b = $(`<div id="html_9661691c1cb3e58d8999759b088bb94b" style="width: 100.0%; height: 100.0%;">You are here</div>`)[0];
                popup_099ab22b5ab7a5351f2963af08946037.setContent(html_9661691c1cb3e58d8999759b088bb94b);
            
        

        marker_6eea8d0aa0908a366603898d85e478e7.bindPopup(popup_099ab22b5ab7a5351f2963af08946037)
        ;

        
    
</script>
</html>